<a href="https://colab.research.google.com/github/SurajPratapSingh2025/python/blob/master/25sept2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello World')

Hello World

In [2]:
a=10
b=5
c=a+b
print(c)

15

In [4]:
a=10
b=20
c=a+b
print('Addition= %d'%c)

Addition= 30

In [13]:
s='suraj'
print('Name: %s'%s)

Name: suraj

In [16]:
name='suraj'
roll=28
print('Name: %s'%name,'\nRoll: %d'%roll)

Name: suraj
Roll: 28

In [17]:
print(type(name))

<class 'str'>

In [18]:
name='suraj'
roll=28
print('Name: %s \nRoll: %d'%(name,roll))

Name: suraj
Roll: 28

In [19]:
name=input('Enter name: ')
age=int(input('Enter age: '))
address=input('Enter address: ')
print('Name: %s \nAge: %d \nAddress: %s'%(name,age,address))

Enter name: suraj
Enter age: 25
Enter address: patna
Name: suraj
Age: 25
Address: patna

In [21]:
#w.a.p to take any 2 no. & perform all the bitwise operation over all the bitwise operation over take a no. & also bitwise not for second no. ?
a=int(input('Enter first no.: '))
b=int(input("Enter second no.: "))
z1=a&b
z2=a|b
z3=a^b
z4=~b
print('First no.: %d \nSecond no.: %d'%(a,b))
print('Result of bitwise and: ',z1)
print('Result of bitwise or: ',z2)
print('Result of bitwise xor: ',z3)
print('Result of bitwise not on Second no.: ',z4)

Enter first no.: 2
Enter second no.: 3
First no.: 2
Second no.: 3
Result of bitwise and:  2
Result of bitwise or:  3
Result of bitwise xor:  1
Result of bitwise not on Second no.:  -4

In [22]:
#member operator [ 1)in 2)not in ]
list1=['apple','grapes','mango','banana']
x1='mango'
y1=(x1 in list1)
print(x1,' is in the list1: ',y1)

x2='gauvava'
y2=(x2 in list1)
print(x2,' is in the list1: ',y2)

mango  is in the list1:  True
gauvava  is in the list1:  False

In [23]:
#member operator [ 1)in 2)not in ]
list1=['apple','grapes','mango','banana']
x1='mango'
y1=(x1 not in list1)
print(x1,' is in the list1: ',y1)

x2='gauvava'
y2=(x2 not in list1)
print(x2,' is in the list1: ',y2)

mango  is in the list1:  False
gauvava  is in the list1:  True

In [34]:
#identity operator [ 1)is 2)is not]
#x=int(input('Enter first no.: '))
#y=int(input('Enter second no.: '))
x=input('Enter first no.: ')
y=input('Enter second no.: ')

z=(x is y)
print(x,',',y,' is identical equal: ',z)

z1=(x is not y)
print(x,',',y,' is identical equal: ',z1)

Enter first no.: sps
Enter second no.: sps
sps , sps  is identical equal:  False
sps , sps  is identical equal:  True

In [38]:
#w.a.p to take a no. & print that no. if a no. is +ive otherwise change that no. is absolute no. ?
a=int(input('Enter any no.: '))
if a>0:
  print('Your no. %d is already absolute'%a)
else:
  a=(-1)*a
  print('Your no. was not absolute so transform in absolute form: %d'%a)

Enter any no.: -9
Your no. was not absolute so transform in absolute form: 9