<a href="https://colab.research.google.com/github/SurajPratapSingh2025/python/blob/master/29sept2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#horizontal line
for i in range(1,6):
  print('*',end=' ')

* * * * *

In [ ]:
#verticle line
for i in range(1,6):
  print('*')

*
*
*
*
*

In [ ]:
#square
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for j in range(1,n+1):
    print('*',end=' ')
  print()

Enter a number: 6
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
#hollow square
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for j in range(1,n+1):
    if i==1 or i==n or j==1 or j==n:
      print('*',end=' ')
    else:
      print(' ',end=' ')
  print()

Enter a number: 6
* * * * * *
*         *
*         *
*         *
*         *
* * * * * *

In [ ]:
#daigonal of square
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for j in range(1,n+1):
    if i==j or i+j==n+1:
      print('*',end=' ')
    else:
      print(' ',end=' ')
  print()

Enter a number: 6
*         *
  *     *
    * *
    * *
  *     *
*         *

In [ ]:
#plus sign
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for j in range(1,n+1):
    if i==n//2+1 or j==n//2+1:
      print('*',end=' ')
    else:
      print(' ',end=' ')
  print()

Enter a number: 5
    *
    *
* * * * *
    *
    *

In [ ]:
#right angle triangle
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for j in range(1,i):
    print('*',end=' ')
  print()

Enter a number: 6

*
* *
* * *
* * * *
* * * * *

In [ ]:
#numberic right angle triangle
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for j in range(1,i):
    print(j,end=' ')
  print()

Enter a number: 6

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#numberic right angle triangle
n=int(input('Enter a number: '))
a=1
for i in range(1,n+1):
  for j in range(1,i):
    print(a,end=' ')
    a+=1
  print()

Enter a number: 6

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
#alphabetic right angle triangle
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for j in range(65,65+i):
    print(chr(j),end=' ')
  print()

Enter a number: 6
A
A B
A B C
A B C D
A B C D E
A B C D E F

In [ ]:
#alphabetic right angle triangle
n=int(input('Enter a number: '))
a=65
for i in range(1,n+1):
  for j in range(65,65+i):
    print(chr(a),end=' ')
    a+=1
  print()

Enter a number: 6
A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [216]:
#mix pattern
n = int(input("Enter the number of rows: "))
for i in range(1, n + 1):
  if i % 2 == 1:
    for j in range(1, i + 1):
      print(j, end="")
  else:
    for j in range(i):
      print(chr(65 + j), end="")
  print()

Enter the number of rows: 4
1
AB
123
ABCD

In [215]:
#mix pattern
n = int(input("Enter the number of rows: "))
for i in range(1, n + 1):
  for j in range(1, i + 1):
    if (i + j) % 2 == 0:
      print("1", end=" ")
    else:
      print("0", end=" ")
  print()

Enter the number of rows: 4
1
0 1
1 0 1
0 1 0 1

In [ ]:
#reciprocal right angle triangle
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for j in range(1,n+1-i):
    print('*',end=' ')
  print()

Enter a number: 6
* * * * *
* * * *
* * *
* *
*

In [ ]:
#reciprocal numberic right angle triangle
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for j in range(1,n+1-i):
    print(j,end=' ')
  print()

Enter a number: 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
#reciprocal numberic right angle triangle
n=int(input('Enter a number: '))
a=1
for i in range(1,n+1):
  for j in range(1,n+1-i):
    print(a,end=' ')
    a+=1
  print()

Enter a number: 4
1 2 3
4 5
6

In [ ]:
#reciprocal alphabet right angle triangle
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for j in range(65,65+(n+1-i)):
    print(chr(j),end=' ')
  print()

Enter a number: 6
A B C D E F
A B C D E
A B C D
A B C
A B
A

In [ ]:
#reciprocal alphabet right angle triangle
n=int(input('Enter a number: '))
a=65
for i in range(1,n+1):
  for j in range(65,65+(n+1-i)):
    print(chr(a),end=' ')
    a+=1
  print()

Enter a number: 6
A B C D E F
G H I J K
L M N O
P Q R
S T
U

In [ ]:
#mirror right angle triangle
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for k in range(1,n+1-i):
    print(' ',end=' ')
  for j in range(1,i):
    print('*',end=' ')
  print()

Enter a number: 6

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
#mirror numeric right angle triangle
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for k in range(1,n+1-i):
    print(' ',end=' ')
  for j in range(1,i):
    print(j,end=' ')
  print()

Enter a number: 6

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [ ]:
#mirror numeric right angle triangle
n=int(input('Enter a number: '))
a=1
for i in range(1,n+1):
  for k in range(1,n+1-i):
    print(' ',end=' ')
  for j in range(1,i):
    print(a,end=' ')
    a+=1
  print()

Enter a number: 4

    1
  2 3
4 5 6

In [ ]:
#mirror alphabet right angle triangle
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for k in range(1,n+1-i):
    print(' ',end=' ')
  for j in range(65,65+i):
    print(chr(j),end=' ')
  print()

Enter a number: 6
          A
        A B
      A B C
    A B C D
  A B C D E
A B C D E F

In [ ]:
#mirror alphabet right angle triangle
n=int(input('Enter a number: '))
a=65
for i in range(1,n+1):
  for k in range(1,n+1-i):
    print(' ',end=' ')
  for j in range(65,65+i):
    print(chr(a),end=' ')
    a+=1
  print()

Enter a number: 6
          A
        B C
      D E F
    G H I J
  K L M N O
P Q R S T U

In [ ]:
#reciprocal mirror right angle triangle
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for k in range(1,i):
    print(' ',end=' ')
  for j in range(1,n+1-i):
    print('*',end=' ')
  print()

Enter a number: 6
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
#reciprocal mirror numberic right angle triangle
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for k in range(1,i):
    print(' ',end=' ')
  for j in range(1,n+1-i):
    print(j,end=' ')
  print()

Enter a number: 6
1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [ ]:
#reciprocal mirror numberic right angle triangle
n=int(input('Enter a number: '))
a=1
for i in range(1,n+1):
  for k in range(1,i):
    print(' ',end=' ')
  for j in range(1,n+1-i):
    print(a,end=' ')
    a+=1
  print()

Enter a number: 4
1 2 3
  4 5
    6

In [ ]:
#reciprocal mirror alphabet right angle triangle
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for k in range(1,i):
    print(' ',end=' ')
  for j in range(65,65+(n+1-i)):
    print(chr(j),end=' ')
  print()

Enter a number: 6
A B C D E F
  A B C D E
    A B C D
      A B C
        A B
          A

In [ ]:
#reciprocal mirror alphabet right angle triangle
n=int(input('Enter a number: '))
a=65
for i in range(1,n+1):
  for k in range(1,i):
    print(' ',end=' ')
  for j in range(65,65+(n+1-i)):
    print(chr(a),end=' ')
    a+=1
  print()

Enter a number: 6
A B C D E F
  G H I J K
    L M N O
      P Q R
        S T
          U

In [ ]:
#right angle trinlge
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for j in range(1,2*i):
    print('*',end=' ')
  print()

Enter a number: 6
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *
* * * * * * * * * * *

In [ ]:
#pyramid
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for k in range(1,n+1-i):
    print(' ',end=' ')
  for j in range(1,2*i):
    print('*',end=' ')
  print()

Enter a number: 6
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [ ]:
#reverse pyramid
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for k in range(1,i):
    print(' ',end=' ')
  for j in range(1,2*(n-i)+2):
    print('*',end=' ')
  print()

Enter a number: 6
* * * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
#numeric pyramid
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for k in range(1,n+1-i):
    print(' ',end=' ')
  for j in range(1,2*i):
    print(j,end=' ')
  print()

Enter a number: 5
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [ ]:
#numeric pyramid
n=int(input('Enter a number: '))
a=1
for i in range(1,n+1):
  for k in range(1,n+1-i):
    print(' ',end=' ')
  for j in range(1,2*i):
    print(a,end=' ')
    a+=1
  print()

Enter a number: 3
    1
  2 3 4
5 6 7 8 9

In [ ]:
#alphabet pyramid
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for k in range(1,n+1-i):
    print(' ',end=' ')
  for j in range(65,65+(2*i-1)):
    print(chr(j),end=' ')
  print()

Enter a number: 6
          A
        A B C
      A B C D E
    A B C D E F G
  A B C D E F G H I
A B C D E F G H I J K

In [ ]:
#alphabet pyramid
n=int(input('Enter a number: '))
a=65
for i in range(1,n+1):
  for k in range(1,n+1-i):
    print(' ',end=' ')
  for j in range(65,65+(2*i-1)):
    print(chr(a),end=' ')
    a+=1
  print()

Enter a number: 5
        A
      B C D
    E F G H I
  J K L M N O P
Q R S T U V W X Y

In [ ]:
#numeric pyramid
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for s in range(1,n+1-i):
    print(' ',end=' ')
  for j in range(1,i):
    print(j,end=' ')
  a=i-2
  for k in range(1,i-1):
    print (a,end=' ')
    a-=1
  print()

Enter a number: 6

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
#numeric pyramid
n=int(input('Enter a number: '))
for i in range(1,n+1):
  for s in range(1,n+1-i):
    print(' ',end=' ')
  for j in range(65,65+i):
    print(chr(j),end=' ')
  a=65+i-2
  for k in range(64,65+i-2):
    print(chr(a),end=' ')
    a-=1
  print()

Enter a number: 6
          A
        A B A
      A B C B A
    A B C D C B A
  A B C D E D C B A
A B C D E F E D C B A

In [ ]:
#star daimond
n = int(input('Enter a number: '))
nsp = n // 2
nst = 1
for i in range(1, n+1):
    # spaces
    for s in range(1, nsp+1):
        print(' ', end=' ')
    # stars
    for j in range(1, nst+1):
        print('*', end=' ')
    # adjust for next row
    m = (n // 2) + 1
    if i < m:
        nsp -= 1
        nst += 2
    else:
        nsp += 1
        nst -= 2
    print()

Enter a number: 7
      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *

In [ ]:
#stool pattern
n = int(input('Enter a number: '))
for i in range(2*n+1):
    print('*', end=' ')
print()
nsp = 1
nst = n
for i in range(1,n+1):
    for j in range(1,nst+1):
        print('*', end=' ')
    for k in range(1,nsp+1):
        print(' ', end=' ')
    for j in range(1,nst+1):
        print('*', end=' ')
    print()
    nst -= 1
    nsp += 2

Enter a number: 6
* * * * * * * * * * * * *
* * * * * *   * * * * * *
* * * * *       * * * * *
* * * *           * * * *
* * *               * * *
* *                   * *
*                       *

In [ ]:
#stool pattern
n = int(input('Enter a number: '))
for i in range(1,2*n+2):
    print(i, end=' ')
print()
nsp = 1
nst = n
for i in range(1,n+1):
    for j in range(1,nst+1):
        print(j, end=' ')
    for k in range(1,nsp+1):
        print(' ', end=' ')
    for j in range(1,nst+1):
        print(j, end=' ')
    print()
    nst -= 1
    nsp += 2

Enter a number: 4
1 2 3 4 5 6 7 8 9
1 2 3 4   1 2 3 4
1 2 3       1 2 3
1 2           1 2
1               1

In [160]:
#stool pattern
n = int(input('Enter a number: '))
for i in range(1,2*n+2):
    print(i, end=' ')
print()
nsp = 1
nst = n
a=1
for i in range(1,n+1):
    for j in range(1,nst+1):
        print(a, end=' ')
        a+=1
    for k in range(1,nsp+1):
        print(' ', end=' ')
    for j in range(1,nst+1):
        print(a, end=' ')
        a+=1
    print()
    nst -= 1
    nsp += 2

Enter a number: 2
1 2 3 4 5
1 2   3 4
5       6

In [157]:
#stool pattern
n = int(input('Enter a number: '))
for i in range(1,2*n+2):
    print(i, end=' ')
print()
nsp = 1
nst = n
for i in range(1,n+1):
  a=1
  for j in range(1,nst+1):
      print(a, end=' ')
      a+=1
  for k in range(1,nsp+1):
      print(' ', end=' ')
      a+=1
  for j in range(1,nst+1):
      print(a, end=' ')
      a+=1
  print()
  nst -= 1
  nsp += 2

Enter a number: 4
1 2 3 4 5 6 7 8 9
1 2 3 4   6 7 8 9
1 2 3       7 8 9
1 2           8 9
1               9

In [212]:
#stool pattern
n = int(input('Enter a number: '))
for i in range(n, 0, -1):
  for j in range(1, i + 1):
    print(j, end=' ')
  spaces = 2 * (n - i) - 1
  if spaces > 0:
    for s in range(spaces):
      print(' ', end=' ')
  elif i == n:
    for j in range(i - 1, 0, -1):
      print(j, end=' ')
    print()
    continue
  for j in range(i, 0, -1):
    print(j, end=' ')
  print()

Enter a number: 4
1 2 3 4 3 2 1
1 2 3   3 2 1
1 2       2 1
1           1

In [168]:
#stool pattern
n = int(input('Enter a number: '))
for i in range(65,65+2*n+3):
    print(chr(i), end=' ')
print()
nsp = 1
nst = n
for i in range(1,n+1):
  a=65
  for j in range(65,65+nst+1):
      print(chr(a), end=' ')
      a+=1
  for k in range(1,nsp+1):
      print(' ', end=' ')
      a+=1
  for j in range(65,65+nst+1):
      print(chr(a), end=' ')
      a+=1
  print()
  nst -= 1
  nsp += 2

Enter a number: 3
A B C D E F G H I
A B C D   F G H I
A B C       G H I
A B           H I

In [189]:
#zoom in problem
n=int(input('Enter a number: '))
for i in range(1, 2*(n+1)):
  for j in range(1, 2*(n+1)):
    a = i
    if i > n+1:
      a = 2*(n+1) - i
    b = j
    if j > n+1:
      b = 2*(n+1) - j
    if a < b:
      min = a
    else:
      min = b
    print(min, end=' ')
  print()

Enter a number: 3
1 1 1 1 1 1 1
1 2 2 2 2 2 1
1 2 3 3 3 2 1
1 2 3 4 3 2 1
1 2 3 3 3 2 1
1 2 2 2 2 2 1
1 1 1 1 1 1 1

In [187]:
#zoom out problem
n=int(input('Enter a number: '))
for i in range(1, 2*(n+1)):
  for j in range(1, 2*(n+1)):
    a = i
    if i > n+1:
      a = 2*(n+1) - i
    b = j
    if j > n+1:
      b = 2*(n+1) - j
    if a < b:
      min = a
    else:
      min = b
    print(n+1-min, end=' ')
  print()

Enter a number: 3
3 3 3 3 3 3 3
3 2 2 2 2 2 3
3 2 1 1 1 2 3
3 2 1 0 1 2 3
3 2 1 1 1 2 3
3 2 2 2 2 2 3
3 3 3 3 3 3 3